.main {
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 1rem, #fff 2rem, #fff);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #000;
}
