.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem 1rem 3rem 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.companyName {
  font-weight: 700;
  font-size: 3rem;
}

.aboutUs {
  padding-top: 3rem;
  font-size: 1.5rem;
}

.aboutUs img {
  margin-bottom: 1rem;
}

.aboutUs p {
  margin: 0;
  line-height: 1.5;
}

.aboutUs h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.aboutUs h2:first-child {
  margin-top: 0;
}

.pastClients {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-top: 1rem;
}

.pastClients li {
  display: flex;
}

.heroImage {
  width: 100%;
  box-sizing: border-box;
}

.main a {
  display: inline-block;
  position: relative;
  color: #0083AA;
}

.main a::after {
  content: "";
  position: absolute;
  bottom: -0.16em;
  left: -1px;
  right: -1px;
  height: 5px;
  background-color: #0083AA;
}